<%= form_with(model: idea, local: true) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idea_title %>
    <%= form.text_area :idea_title, id: :idea_idea_title %>
  </div>

  <div class="field">
    <%= form.label :idea_content %>
    <%= form.text_area :idea_content, id: :idea_idea_content %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, id: :idea_user_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
